<div id="dashboard-announcements">
  <h2>Announcements</h2>
  <%= render partial: "announcements/announcement", collection: pinned, as: :announcement %>
  <% if latest_unpinned %>
    <%= render "announcements/announcement", announcement: latest_unpinned %>
  <% end %>
  <%= link_to "All announcements", announcements_path %>
</div>
