<h2>Tables Awaiting Players</h2>
<% if games.any? %>
  <table>
    <% games.each do |game| %>
      <tr>
        <td><%= button_to "Join", join_game_path(game) %></td>
        <td>
          Game <%= game.id %>:
          <%= rated_list(game) %>
          <% if game.speed_label %>
            <span class="speed-badge"><%= game.speed_label %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
