<h2>Tables Awaiting Players</h2>
<% if games.any? %>
  <table>
    <% games.each do |game| %>
      <tr>
        <td>Game <%= game.id %> &mdash; <%= game.player_handles %></td>
        <td><%= button_to "Join", join_game_path(game) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
