<%= render "fancy" %>

<div class="fancy-box">
  <h1>KBC</h1>
  <div class="fancy-section">
    <p style="color: green"><%= notice %></p>

    <div class="wordy">
        <p>Your account has not yet been approved</p>
        <p>When your account is approved, you will receive an email to that effect.</p>
        <p>Our team appreciates your patience.</p>
    </div>
  </div>
</div>

