<ul id="map-grid">
  <% 20.times do |row| %>
    <% 20.times do |col| %>
      <% terrain = @game.board.terrain_at(row, col).downcase %>
      <% icon = terrain.length > 1 ? "hex-map-image" : "" %>
      <% content = @game.board.content_at(row, col) %>
      <%= content_tag :li,
        id: "map-cell-#{row}-#{col}",
        class: row.even? ? "even" : "odd" do %>
        <%= content_tag :div,
          class: [
            "hexagon",
            "grid-item",
            "terrain-#{terrain}",
            icon].join(" ") do %>
          <% if terrain.length > 1 %>
            <p><%= " " || terrain[0..-4].capitalize %></p>
          <% end %>
        <% end %>
        <% if content %>
          <% Rails.logger.info " at #{row},#{col} found #{content.qty rescue 'NA'} of #{content.class}" %>
          <%= render partial: "cell_content", locals: {content: content} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>
