<div>Deck: <%= game.deck.size %> cards left</div>
<div>Discard: <%= game.discard.size %> cards</div>
<% if game.board_has_quarry? %>
  <div>Stone walls: <span class="mandatory-count"><%= game.stone_walls %></span> remaining</div>
<% end %>
