<div id="game-area">
    <main>
        <%= render partial: "games/turn_state", locals: { game: } %>
        <%= render partial: "games/goals", locals: { game: } %>
        <%= render partial: "games/board", locals: { game: } %>
    </main>
    <aside>
      <%= render partial: "games/players", locals: { game:, my_player: @my_player || nil } %>
    </aside>
</div>
