<div id="goals" class="game-section">
    <ul>
        <li>Scoring Goals:</li>
        <% @game.goals.each do |key| %>
            <li>
                <div class="card-title"><%= key.upcase %></div>
                <div class="card-text"><%= Scoring::GOAL_DESCRIPTIONS[key] %></div>
            </li>
        <% end %>
    </ul>
</div>
