<div id="goals" class="game-section">
    <ul>
        <li>
            <div class="card-title">CASTLES</div>
            <div class="card-text">3 points for each Castle you have a piece adjacent to</div>
        </li>
        <li>
            <div class="card-title">FISHERMEN</div>
            <div class="card-text">1 point per piece next to but not on water</div>
        </li>
        <li>
            <div class="card-title">KNIGHTS</div>
            <div class="card-text">2 points per piece on the line with the most pieces</div>
        </li>
        <li>
            <div class="card-title">MERCHANTS</div>
            <div class="card-text">4 points for each location connected to any other location with your pieces</div>
        </li>
    </ul>
</div>

