<div id="turn-state">
  <% if @game.mandatory_count > 0 && @game.current_player.supply["settlements"] > 0 %>
    <%= "#{@game.current_player.player.handle} must build" %>
    <span class="mandatory-count">
      <%= "#{pluralize(@game.mandatory_count, "settlement")} on #{@terrain_card}" %>
    </span>
  <% else %>
    <%= "#{@game.current_player.player.handle} must end their turn" %>
  <% end %>
</div>
