<%= render "fancy" %>

<div class="dashboard-box">
  <h1>New Game</h1>

  <div class="fancy-section">
    <%= render "form", game: @game %>

    <br>

    <div>
      <%= link_to "Dashboard", dashboard_path %>
    </div>
  </div>
</div>
