<div id="game-area">
    <main>
        <%= render "turn_state" %>
        <%= render "goals" %>
        <%= render "board" %>
    </main>
    <aside>
        <%= render "players" %>
    </aside>
</div>
