/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 :root {
    --clr-ds-table: #004d00;
    --clr-ds-text: white;
    --clr-ds-link: #cccc00;
 }

 * { box-sizing: border-box; }

 body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--clr-ds-table);
    color: var(--clr-ds-text);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: var(--clr-ds-link);
}

