/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 :root {
    --clr-ds-table: #004d00; /* the color of the "table" */
    --clr-ds-text: white;
    --clr-ds-link: #cccc00;

    /* Terrain colors */
    --clr-ter-b: #ff8800;
    --clr-ter-c: #a52a2a;
    --clr-ter-d: #ffd700;
    --clr-ter-f: darkorchid;
    --clr-ter-g: chartreuse;
    --clr-ter-m: #444;
    --clr-ter-p: cyan;
    --clr-ter-t: forestgreen;
    --clr-ter-w: royalblue;
 }

 * { box-sizing: border-box; }

 body {
    /* font-size: 16px; - this is the default for all browsers. */
    /* We'll use rem units for font sizes to ensure scalability and accessibility. */
    margin: 0;
    font-family: "Atkinson Hyperlegible Next", sans-serif, system-ui;
    color: var(--clr-ds-text);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: var(--clr-ds-link);
}
