/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 :root {
    --bg-color: darkgreen;
    --color: white
 }

 * { box-sizing: border-box; }

#fancy-background {
    position: fixed;
    display: flex;
    width: 120vw;
    height: 120vh;
    --s: 100px;
    --m: 1px;
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
    top: calc(var(--s) * -0.5);
    left: calc(var(--s) * -0.5);
    z-index: -1;
}

.fancy-container {
    font-size: 0;
}

.fancy-container::before {
    content: "";
    float: left;
    width: calc(var(--s)/2 + var(--m));
    height: 120%;
    shape-outside: repeating-linear-gradient(
        #0000 0 calc(var(--f) - 3px),
        #000 0 var(--f)
    );
}

.fancy-container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size: initial;
    clip-path: polygon(0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    margin-bottom: calc(var(--m) - var(--s) * 0.2886);
    background-color: gray;
}
