:root {
    --cell-width: 4.75%;
    --clr-g-bkg: #003300;
    --clr-g-text: white;
    --clr-g-link: #cccc00;
    --clr-hex-border: #000000;
}

html{
    background-image: url("green-felt.jpg");
    background-size: cover;
}

#game-area {
    display: grid;
    grid-template-areas:
        "main players-area game-log";
    grid-template-columns: 5fr 2fr 2fr;
}

main {
    grid-area: main;
}

.game-section {
    background-color: var(--clr-g-bkg);
    border: 0;
    margin: 2px;
    padding: 1px 2px;
    border-radius: 8px;
}

.mandatory-count {
    display: none;
}

#goals ul {
    padding: inherit;
    margin: inherit;
}

#board {
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(43, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 60vw;
    row-gap: 10px;
}

.hex, .marker {
    grid-column: span 2;
    position: relative;
    margin-bottom: -10px;
}

.hex {
    --cell-padding: calc(var(--cell-width) * 2.0 / sqrt(3));
    /* clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0); */
    position: relative;
    background: #00fd00;
    border: 1px solid black;
}

.hex > .hex-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

svg {
    width: 100%;
    height: 102%;
}

ul li .hex:hover {
    background-color: #fd005f;
}

#board .selectable {
    cursor: pointer;
    /* background-image: url("hex-outlines.svg"); */
    /* width: 115%; */
    /* height: 110%; */
    /* background-repeat: no-repeat; */
    /* background-position: -4px 0; */
    background-color: hsla(0,0%,100%,.65);
    border: 2px solid black;
}

.selectable:hover {
    opacity: 0.25;
}

.tile {
    background-repeat: no-repeat;
    background-size: 300% 400%;
}

.tile-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.tile-container .tile {
    height: 100%;
    width: 100%;
    position: absolute;
}

.tile-container div:nth-child(1) {
    z-index: 1;
}

.tile-container div:nth-child(2) {
    z-index: 2;
}

.tile-container div:nth-child(3) {
    left: -3px;
    top: -3px;
    z-index: 3;
}

.tile.location-barn {
    background-position: 15% 15%;
}

.tile.location-farm {
    background-position: 50% 0;
}

.tile.location-harbor {
    background-position: 15% 15%;
}

.tile.location-oasis {
    background-position: 0 66.667%;
}

.tile.location-oracle {
    background-position: 15% 15%;
}

.tile.location-paddock {
    background-position: 100% 33.333%;
}

.tile.location-tavern {
    background-position: 100% 0;
}

.tile.location-tower {
    background-position: 15% 15%;
}

.tile-counter {
    position: absolute;
    top: -5%;
    left: 29%;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 0.9em;
    height: 0;
    padding-bottom: 40%;
    text-align: center;
    width: 40%;
}

.hex.terrain-c {
    background-color: #a52a2ac0;
}

.hex.terrain-d {
    background-color: #ffd700;
}

.hex.terrain-f {
    background-color: darkorchid;
}

.hex.terrain-g {
    background-color: rgb(0,255,5,0.8);
}

.hex.terrain-l {
    background-color: goldenrod;
}

.hex.terrain-m {
    background-color: #444;
}

.hex.terrain-t {
    background-color: forestgreen;
}

.hex.terrain-w {
    background-color: royalblue;
}

.hex.terrain-castlehex {
    background-color: silver;
    background-image: url("silver/castle.svg");
    background-size: 89%;
    background-repeat: no-repeat;
    background-position: center 25%;
}

.hex.terrain-tavernhex {
    background-color: goldenrod;
    background-image: url("gold/tavern.svg");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.hex.terrain-paddockhex {
    background-color: goldenrod;
    background-image: url("gold/paddock.svg");
    background-size: 81%;
    background-repeat: no-repeat;
    background-position: center 65%;
}

.hex.terrain-oasishex {
    background-color: goldenrod;
    background-image: url("gold/oasis.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.hex.terrain-farmhex {
    background-color: goldenrod;
    background-image: url("gold/farm.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.hex-map-image {
    background-size: 300% 450%;
    content: "";
    display: block;
    height: 0;
    margin-top: 0;
}

.castle-hex {
    background-position: 0 0;
}

.tavern-hex {
    background-position: 0 25%;
}

.paddock-hex {
    background-position: 0 50%;
}

.oasis-hex {
    background-position: 50% 48%;
}

.farm-hex {
    background-position: 100% 0;
}

.map-cell-content.castle {
    background-position: 0 0;
}

.map-cell-content.tavern {
    background-position: 0 20%;
}

.map-cell-content.paddock {
    background-position: 0 40%;
}

.map-cell-content.oasis {
    background-position: 33.33% 40%;
}

.map-cell-content.farm {
    background-position: 66.67% 0;
}

.li {
    list-style: none;
}

.hex-settlement {
    background-image: url("settlement.svg");
    background-repeat: no-repeat;
    background-size: 200%;
    position: absolute;
    top: 14%;
    left: 21%;
    width: 66%;
    height: 66%;
}

.player-0 {
    background-position: 0%;
}

.player-1 {
    background-position: 100%;
}

#goals {
    background-color: bisque;
    grid-area: goals;
}

#goals ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#goals .card-text {
    display: none;
}

#turn-state {
    background-color: white;
    text-align: center;
    grid-area: turn-state;
}

#players-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: monospace;
    font-weight: 600;
    margin: 8px;
    height: 97vh;
}

#last-updated-at {
    /* display: none; */
    color: white;
}

#moves-area {
    display: block;
}

.player-area {
    background-color: khaki;
    padding: 4px;
    flex: 1 0 auto;
}

.player-spinner {
    /* background-image: url("tape-reel.svg"); */
    animation: playspin 3s infinite linear;
    display: inline-block;
    width: 40px;
    transform-origin: 20px 20px;
}

@keyframes playspin {
    to {
        transform: rotate(-360deg);
    }
}

.handle {
    font-size: larger;
}

.player-order {
    display: none;
}

.settlement-icon {
    display: inline-block;
    background-image: url("settlement.svg");
    background-repeat: no-repeat;
    background-size: 200%;
    width: 44px;
    height: 46px;
}

.settlement-count {
    display: inline-block;
    font-size: 24px;
}

.player-card {
    background-size: 100%;
    width: 80px;
    height: 80px;
    color: transparent;
    display: inline-block;
}

.player-card.card-B {
    background-image: url("silver/castle.svg");
}

.player-card.card-G {
    background-image: url("grass.svg");
    background-position: 20%;
}

.player-card.card-C {
    background-image: url("canyon.svg");
}

.player-card.card-D {
    background-image: url("desert.svg");
}

.player-card.card-F {
    background-image: url("flowers.svg");
}

.player-card.card-T {
    background-image: url("timberland.svg");
}
