html{
    background-image: url("green-felt.jpg");
    background-size: cover;
}

#game-area {
    display: grid;
    grid-template-areas:
        "turn-state players-area"
        "goals      players-area"
        "board      players-area";
    grid-template-columns: 75% auto;
}

#map-container {
    content: "";
    display: block;
    position: relative;
    grid-area: board;
}

#map-grid {
    position: relative;
    padding: 0;
}

#map-grid li {
    --cell-width: 4.75%;
    --cell-padding: calc(var(--cell-width) * 2.0 / sqrt(3));
    list-style-type: none;
    position: relative;
    float: left;
    width: var(--cell-width);
    padding: 0 0 var(--cell-padding) 0;
    margin: -0.67% 0.035%;
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
}

#map-grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-30deg) rotate(60deg);
    font-size: 0.75rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    vertical-align: middle;
}

/* #map-grid li .hexagon.grid-item.row-bump { */
#map-grid li.odd:nth-child(20n-19) {
    margin-left: 2.5%;
}

/* Draft attempt to show quadrant edges */
/* #map-grid li:nth-child(20n+11) {
    margin-left: 3px;
} */

#map-grid li * {
    visibility: visible;
}

.hex-map-container {
    display: grid;
    grid-template-columns: repeat(41 1fr);
    grid-template-rows: repeat(61 1fr);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
}

.quadrant {
    background-color: white;
    background-image: url("border.png");
    background-position: 50%, 50%;
    background-size: 100%, 300% 400%;
    grid-column-end: span 21;
    grid-row-end: span 31;
    z-index: 0;
    clip-path:polygon(0 3.23%,4.76% 0,9.52% 3.23%,14.29% 0,19.05% 3.23%,23.81% 0,28.57% 3.23%,33.33% 0,38.1% 3.23%,42.86% 0,47.62% 3.23%,52.38% 0,57.14% 3.23%,61.9% 0,66.67% 3.23%,71.43% 0,76.19% 3.23%,80.95% 0,85.71% 3.23%,90.48% 0,95.24% 3.23%,95.24% 3.23%,95.24% 9.68%,100% 12.9%,100% 19.35%,95.24% 22.58%,95.24% 29.03%,100% 32.26%,100% 38.71%,95.24% 41.94%,95.24% 48.39%,100% 51.61%,100% 58.06%,95.24% 61.29%,95.24% 67.74%,100% 70.97%,100% 77.42%,95.24% 80.65%,95.24% 87.1%,100% 90.32%,100% 96.77%,95.24% 100%,95.24% 100%,90.48% 96.77%,85.71% 100%,80.95% 96.77%,76.19% 100%,71.43% 96.77%,66.67% 100%,61.9% 96.77%,57.14% 100%,52.38% 96.77%,47.62% 100%,42.86% 96.77%,38.1% 100%,33.33% 96.77%,28.57% 100%,23.81% 96.77%,19.05% 100%,14.29% 96.77%,9.52% 100%,4.76% 96.77%,4.76% 90.32%,0 87.1%,0 80.65%,4.76% 77.42%,4.76% 70.97%,0 67.74%,0 61.29%,4.76% 58.06%,4.76% 51.61%,0 48.39%,0 41.94%,4.76% 38.71%,4.76% 32.26%,0 29.03%,0 22.58%,4.76% 19.35%,4.76% 12.9%,0 9.68%,0 3.23%,4.76% 0);
}

#map-top-left {
    grid-column-start: 1;
    grid-row-start: 1;
}

#map-top-right {
    grid-column-start: 21;
    grid-row-start: 1;
}

#map-bottom-left {
    grid-column-start: 1;
    grid-row-start: 31;
}

#map-bottom-right {
    grid-column-start: 21;
    grid-row-start: 31;
}

ul li .grid-item:hover {
    background-color: #fd005f;
}

.selectable {
    border-width: 4px;
    cursor: pointer;
    background-size: 1200%;
    background-repeat: no-repeat;
    background-position: 0;
    opacity: 0.5;
}

.selectable:hover {
    opacity: 0.25;
}

.tile {
    background-repeat: no-repeat;
    background-size: 300% 400%;
}

.tile-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.tile-container .tile {
    height: 100%;
    width: 100%;
    position: absolute;
}

.tile-container div:nth-child(1) {
    z-index: 1;
}

.tile-container div:nth-child(2) {
    z-index: 2;
}

.tile-container div:nth-child(3) {
    left: -3px;
    top: -3px;
    z-index: 3;
}

.tile.location-barn {
    background-position: 15% 15%;
}

.tile.location-farm {
    background-position: 50% 0;
}

.tile.location-harbor {
    background-position: 15% 15%;
}

.tile.location-oasis {
    background-position: 0 66.667%;
}

.tile.location-oracle {
    background-position: 15% 15%;
}

.tile.location-paddock {
    background-position: 100% 33.333%;
}

.tile.location-tavern {
    background-position: 100% 0;
}

.tile.location-tower {
    background-position: 15% 15%;
}

.tile-counter {
    position: absolute;
    top: -7%;
    left: 68%;
    background-color: orange;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 0.9em;
    height: 0;
    padding-bottom: 40%;
    text-align: center;
    width: 40%;
    transform: skewY(-30deg) rotate(60deg);
}

.grid-item.terrain-c {
    background-color: #a52a2ac0;
}

.grid-item.terrain-d {
    background-color: #ffd700;
}

.grid-item.terrain-f {
    background-color: darkorchid;
}

.grid-item.terrain-g {
    background-color: rgb(0,255,5,0.8);
}

.grid-item.terrain-l {
    background-color: goldenrod;
}

.grid-item.terrain-m {
    background-color: #444;
}

.grid-item.terrain-t {
    background-color: forestgreen;
}

.grid-item.terrain-w {
    background-color: royalblue;
}

.grid-item.terrain-castlehex {
    background-color: silver;
    background-image: url("silver/castle.svg");
    background-size: 89%;
    background-repeat: no-repeat;
    background-position: center 25%;
}

.grid-item.terrain-tavernhex {
    background-color: goldenrod;
    background-image: url("gold/tavern.svg");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.grid-item.terrain-paddockhex {
    background-color: goldenrod;
    background-image: url("gold/paddock.svg");
    background-size: 81%;
    background-repeat: no-repeat;
    background-position: center 65%;
}

.grid-item.terrain-oasishex {
    background-color: goldenrod;
    background-image: url("gold/oasis.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.grid-item.terrain-farmhex {
    background-color: goldenrod;
    background-image: url("gold/farm.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.hex-map-image {
    background-size: 300% 450%;
    content: "";
    display: block;
    height: 0;
    margin-top: 0;
}

.castle-hex {
    background-position: 0 0;
}

.tavern-hex {
    background-position: 0 25%;
}

.paddock-hex {
    background-position: 0 50%;
}

.oasis-hex {
    background-position: 50% 48%;
}

.farm-hex {
    background-position: 100% 0;
}

.map-cell-content.castle {
    background-position: 0 0;
}

.map-cell-content.tavern {
    background-position: 0 20%;
}

.map-cell-content.paddock {
    background-position: 0 40%;
}

.map-cell-content.oasis {
    background-position: 33.33% 40%;
}

.map-cell-content.farm {
    background-position: 66.67% 0;
}

.li {
    list-style: none;
}

.hex-settlement {
    background-image: url("settlement.svg");
    background-repeat: no-repeat;
    background-size: 200%;
    position: absolute;
    top: 14%;
    left: 21%;
    width: 66%;
    height: 66%;
    transform: skewY(-30deg) rotate(60deg);
}

.player-0 {
    background-position: 0%;
}

.player-1 {
    background-position: 100%;
}

#goals {
    background-color: bisque;
    grid-area: goals;
}

#goals ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#goals .card-text {
    display: none;
}

#turn-state {
    background-color: white;
    text-align: center;
    grid-area: turn-state;
}

#players-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: monospace;
    font-weight: 600;
    margin: 8px;
    height: 97vh;
}

#moves-area {
    display: block;
}

.player-area {
    background-color: khaki;
    padding: 4px;
    flex: 1 0 auto;
}

.player-spinner {
    /* background-image: url("tape-reel.svg"); */
    animation: playspin 1s infinite linear;
    display: inline-block;
    width: 40px;
    transform-origin: 20px 20px;
}

@keyframes playspin {
    to {
        transform: rotate(-360deg);
    }
}

.handle {
    font-size: larger;
}

.settlement-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 1100%;
    width: 44px;
    height: 46px;
}

.settlement-count {
    display: inline-block;
    font-size: 24px;
}

.player-card {
    background-size: 100%;
    width: 80px;
    height: 80px;
    color: transparent;
    display: inline-block;
}

.player-card.card-B {
    background-image: url("silver/castle.svg");
}

.player-card.card-G {
    background-image: url("grass.svg");
    background-position: 20%;
}

.player-card.card-C {
    background-image: url("canyon.svg");
}

.player-card.card-D {
    background-image: url("desert.svg");
}

.player-card.card-F {
    background-image: url("flowers.svg");
}

.player-card.card-T {
    background-image: url("timberland.svg");
}
