.display-box {
    background-color: inherit;
    filter: drop-shadow(-20px 20px 20px black);
    font-size: 250%;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    width: 50%;
}

.display-box a {
    color: white;
}

.display-box h1 {
    margin: 0;
}
